---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
// import Carousel from "@components/Carousel";
import Socials from "@components/Socials.astro";
import getSortedPosts from "@utils/getSortedPosts";
import slugify from "@utils/slugify";
import { SOCIALS } from "@config";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);

const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout>
  <link slot="head" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
  <Header />
  <main id="main-content">
    <section id="hero">
      <h1>Welcome</h1>
      <a
        target="_blank"
        href="/rss.xml"
        class="rss-link"
        aria-label="rss feed"
        title="RSS Feed"
      >
        <svg xmlns="http://www.w3.org/2000/svg" class="rss-icon"
          ><path
            d="M19 20.001C19 11.729 12.271 5 4 5v2c7.168 0 13 5.832 13 13.001h2z"
          ></path><path
            d="M12 20.001h2C14 14.486 9.514 10 4 10v2c4.411 0 8 3.589 8 8.001z"
          ></path><circle cx="6" cy="18" r="2"></circle>
        </svg>
      </a>

      <p>
        urbangardener.wiki, aims to be your ultimate resource for home
        gardening. Our website provides practical tips, and inspiring ideas to
        help you create a lush garden in your home. Whether you're a seasoned
        gardener or just starting out, we've got you covered. Explore our site
        to discover everything you need to know to turn your urban space into a
        green oasis.
      </p>
      <p>
        Browse
        <LinkButton
          className="hover:text-skin-accent underline underline-offset-4 decoration-dashed"
          href="https://urbangardener.wiki/tags/home-gardening-essentials/"
        >
          home gardening essentials
        </LinkButton> tag to start with, or explore our site as you wish.
      </p>
      {
        // only display if at least one social link is enabled
        socialCount > 0 && (
          <div class="social-wrapper">
            <div class="social-links">Social Links:</div>
            <Socials />
          </div>
        )
      }
    </section>

    <Hr />

    {
      featuredPosts.length > 0 && (
        <>
          <section id="featured">
            <h2>Featured</h2>
            <div class="flex-wrapper" style={{ display: "flex", flexDirection: "column", flexWrap: "wrap" }}>
              {featuredPosts.map(({ data }, index) => (
                <div key={data.title} class={`flex-container ${index % 2 === 0 ? "odd" : "even"}`} style={{ marginBottom: "1rem", borderWidth: ".25rem", borderStyle: "solid", borderColor: "rgba(var(--color-border)"  }}>
                  <div class="flex-img-wrapper" style={{ flexBasis: "50%" }}>
                    <a href={`/posts/${slugify(data)}`}>
                      <img
                        src={data.ogImage}
                        alt={data.title}
                        style={{
                          width: "100%",
                          height: "auto",
                          objectFit: "cover",
                          maxHeight: "250px", // Set a maximum height to prevent very tall images
                        }}
                      />
                    </a>
                  </div>
                  <div class="flex-card-wrapper" style={{ flexBasis: "50%", paddingLeft: "1rem" }}>
                    <ul style={{ marginTop: "10px", paddingLeft: 0 }}>
                      <Card href={`/posts/${slugify(data)}`} frontmatter={data} secHeading={false} />
                    </ul>
                  </div>
                </div>
              ))}
            </div>
          </section>
          <hr />
        </>
      )
    }

    <section id="recent-posts">
      <h2>Recent Posts</h2>
      <ul>
        {
          sortedPosts.map(
            ({ data }, index) =>
              index < 4 && (
                <Card
                  href={`/posts/${slugify(data)}`}
                  frontmatter={data}
                  secHeading={false}
                />
              )
          )
        }
      </ul>
      <div class="all-posts-btn-wrapper">
        <LinkButton href="/posts">
          All Posts
          <svg xmlns="http://www.w3.org/2000/svg"
            ><path
              d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
            ></path>
          </svg>
        </LinkButton>
      </div>
    </section>
  </main>

  <Footer />

  <script>
    declare global {
      interface Window {
        netlifyIdentity: any;
      }
    }

    if (window.netlifyIdentity) {
      window.netlifyIdentity.on((user: any) => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pt-8 pb-6;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mr-2 mb-1 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts {
    @apply pt-12 pb-6;
  }
  #featured h2,
  #recent-posts h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }
  @media (min-width: 768px) {
    .flex-wrapper {
      flex-direction: row;
    }
    .flex-container {
      display: flex;
      padding: 0;
    }
    .flex-container.odd .flex-img-wrapper {
      order: 2;
    }
    .flex-container.odd .flex-card-wrapper {
      order: 1;
    }
    .flex-container.even .flex-img-wrapper {
      order: 1;
    }
    .flex-container.even .flex-card-wrapper {
      order: 2;
    }
  }

  /* swiper
  .swiper {
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 48rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .sw-text-bg {

  }
  .swiper-slide h3 {
    text-align: left;
    font-size: 18px;
  }
  */
</style>